{#
/**
 * @file
 * Default theme implementation to present a media gallery entity.
 *
 * This template is used when viewing a registered media gallery's page,
 * e.g., /admin/content/media-gallery)/123. 123 being the media gallery's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_media_gallery()
 */
#}

{{ attach_library('media_gallery/media_gallery') }}

<article{{ attributes }}>
  {% if use_pager %}
    {% if content %}
      {{ content|without('images') }}
    {% endif %}
    <div class="field field--name-images field--type-entity-reference field--label-hidden field__items">
      {{ images }}
    </div>
    {{ pager }}
  {% else %}
    {% if content %}
      {{- content -}}
    {% endif %}
  {% endif %}
</article>
